$footer: linear-gradient(#131313, #1e1e1e);
$primary: #1e1e1e;
$primary-1: #1e1e1e;
$background: #fafafa;
$black: #1e1e1e;
$white: white;
$white-1: #f1f1f1;
$grey: grey;
$border: #C6C6C6;
$image: #E8E8E8;
$tableGrey: #e4e4e4;
$selectBoxGrey: #E7E7E7;
$selectBoxTextGrey: #515151;
$black-1: #242424;
$highlight: #e6e6e6;
$highlightColor: rgb(234, 23, 121);
$blackGradient: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(9,9,9,1) 100%);
$blackRadialGradient: radial-gradient(circle, rgba(64,64,64,.4) 0%, rgba(0,0,0,.7) 100%);
$overflowGradient: linear-gradient(90deg, #ffffff00 80%, #ffffffd9 100%);
$loading1: rgba(0, 0, 0, 0.2);


$shadow: rgba(0, 0, 0, 0.085);
$shadowY: 4px;
$shadowX: 0;
$shadowBlur: 12px;

$color-1: #E96479;
$color-2: #8974b2;
$color-3: #7DB9B6;

$red: #db3355;
$green: #5ed241;